html, body {
    height: 100%;
    width: 100%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.coordinate {
	text-transform: uppercase;
    width: 20px;
    height: 20px;
    text-align: center;
}

#puzzle-table {
    border-collapse: collapse;
    border: medium solid black;
}

#puzzle-table td {
    padding: 0;
    background-color: #fff;
}

#puzzle-table td > input {
    border: 1px #d3d3d3 dotted;
    padding: 3px;
    font-size: 15px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

#puzzle-table td > input.done {
    /* Override the 'disabled' style */
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
}

#puzzle-table td > input.done.used {
    border-radius: 50%;
}

#words {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 10px 0;
}

#solve {
    background: #3498db linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 15px;
    text-shadow: 1px 1px 3px #666;
    box-shadow: 0 1px 3px #666666;
    color: #ffffff;
    font-size: 23px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 10px;
}

#solve:hover {
    background: #3cb0fd linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

#container-puzzle {
    margin: 25px 0;
}

#container-main {
    width: 960px;
    margin: 0 auto;
}
