html, body {
    height: 100%;
    width: 100%;
}

.coordinate {
	text-transform: uppercase;
    width: 20px;
    height: 20px;
    text-align: center;
}

#puzzle-table {
    border-collapse: collapse;
}

#container-main {
    width: 960px;
    margin: 0 auto;
}
